.grid{
    display: grid;

    grid-template-areas: 
    "nav nav"
    "header aside"
    "header aside"
    "article aside"
    "article aside"
    ". footer";
    
}
nav{
grid-area: nav;
background-color: aqua;
}
header{
    grid-area: header;
    
background-color: gray;
}
article{
   grid-area: article;
background-color: yellow;
}
aside{
   grid-area: aside;
    
    background-color: blueviolet;
}
footer{
   grid-area: footer;

    background-color: aliceblue;
}